rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /stats/site_visitor {
      allow read, write: if true;
    }
    match /{document=**} {
      // Production Mode:
      // อนุญาตให้อ่านอย่างเดียว เพื่อให้หน้าเว็บแสดงผลได้
      allow read: if true;
      
      // ไม่อนุญาตให้ใครเขียนหรือลบข้อมูล (รวมถึงหน้า admin.html จะเพิ่มข้อมูลไม่ได้ด้วยชั่วคราว)
      allow write: if true;
    }
  }
}
